h1 {
    text-align: center;
    margin: 20px 0 !important;
}

span {
    color: #008197;
    font-weight: bolder;
}

.card-head {
    background-color: #3bbfd6 !important;
    color: white !important;
    font-size: 20px !important;
}

.btn {
    background-color: #3bbfd6 !important;
    border: none !important;
}